@model IEnumerable<WebApplication1.Models.Products>

@{
    ViewBag.Title = "Product Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Catalog</h2>

@foreach (var item in Model) {
    <div class="col-md-4">
        <img src="~/images/dummy.jpg" />
        <h4>   @Html.DisplayFor(modelItem => item.Name)</h4>
        <ul class="list-unstyled">
            <li>For @Html.DisplayFor(modelItem => item.Animal)</li>
            <li>@Html.DisplayNameFor(model => model.SupplierId): @Html.DisplayFor(modelItem => item.Supplier.Name)</li>
            <li>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(modelItem => item.Price)</li>
            <li>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(modelItem => item.Category)</li>
        </ul>
    </div>
}
