@model IEnumerable<WebApplication1.Models.Products>

@{
    ViewBag.Title = "Product Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Catalog</h2>

<h3>Filter By</h3>
@using (Html.BeginForm("Catalog", "Products", FormMethod.Get, new { id = "catalogFilterForm" }))
{
    <div class="filterArea">
        <div class="filterField">Animal: @Html.DropDownList("AnimalsTypes")</div>
        <div class="filterField">Category: @Html.DropDownList("CategoriesTypes")</div>
        <div class="filterField">min. price: @Html.TextBox("minPrice", null, new { size = 5 } )</div>
        <div class="filterField">max. price: @Html.TextBox("maxPrice", null, new { size = 5 } )</div>
        <input type="submit" value="Filter" />
    </div>
}


@Html.Partial("ProductRowPartial", Model)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#catalogFilterForm").validate({
            rules: {
                minPrice: {
                    number: true
                },
                maxPrice: {
                    number: true
                }
            }
        });
    </script>
}
