@model IEnumerable<WebApplication1.Models.Products>

@{
    ViewBag.Title = "Product Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Catalog</h2>

<h3>Filter By</h3>
@using (Html.BeginForm("Catalog", "Products", FormMethod.Get))
{
    <p>
        Animal: @Html.DropDownList("AnimalsTypes")
        Category: @Html.DropDownList("CategoriesTypes")
        min. price: @Html.TextBox("minPrice")
        max. price: @Html.TextBox("maxPrice")
        <input type="submit" value="Filter" />
    </p>
}

<h3>Group By</h3>

@using (Html.BeginForm("Catalog", "Products", FormMethod.Get))
{
    <p>
        @Html.RadioButton("Group", "Animal") Animal
        @Html.RadioButton("Group", "Category") Category

        <input type="submit" value="Group by" />
    </p>
}


@if (string.IsNullOrEmpty(ViewBag.Group))
{
    @Html.Partial("ProductRowPartial", Model)
} else
{
    IEnumerable<IGrouping<int, WebApplication1.Models.Products>> grouped = null;
    if (ViewBag.Group == "Animal")
    {
        grouped = Model.GroupBy(p => p.AnimalsId);
    }
    else if (ViewBag.Group == "Category")
    {
        grouped = Model.GroupBy(p => p.CategoryId);
    }
    if (grouped != null)
    {
        foreach (var group in grouped)
        {
            <div>
                @group.Key
            </div>
            @Html.Partial("ProductRowPartial", group)
        }
    }
}
