<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pet Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <img src="~/images/GetAPET2.png" alt="Logo" />
    </header>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Product Catalog", "Catalog", "Products")</li>
                        <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div  class="row">
                <section>
                    <div  class="col-md-2">
                        <aside>
                            <section>
                                <header>
                                    <h3>Categories</h3>
                                </header>
                                <ul>
                                    <li>@Html.ActionLink("Cats", "Cats", "Animals")</li>
                                    <li>@Html.ActionLink("Dogs", "Dogs", "Animals")</li>
                                    <li>@Html.ActionLink("Birds", "Birds", "Animals")</li>
                                    <li>@Html.ActionLink("Fish", "Fish", "Animals")</li>
                                </ul>
                            </section>

                            @if (User.IsInRole("Admin"))
                            {
                                <section>
                                    <header>
                                        <h3>Admin Options</h3>
                                    </header>
                                    <ul>
                                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                                        <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                                        <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                                        <li>@Html.ActionLink("Orders", "OrdersView", "Orders")</li>
                                    </ul>
                                </section>
                            }
                        </aside>
                    </div>
                </section>
                <section>
                    <div class="col-md-10">
                        @RenderBody()
                    </div>
                </section>
            </div>

            <hr />


        <footer>
                    <div>
                        <section id="about">
                            <header>
                                <h3>About</h3>
                            </header>
                            <p>The best Pet Store for you!</p>
                        </section>
                    </div>
                </footer>
</div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
