@model IEnumerable<WebApplication1.Models.OrdersViewModel>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<h3>Filter By</h3>
@using (Html.BeginForm("OrdersView", "Orders", FormMethod.Get, new { id = "catalogFilterForm" }))
{
    <div class="filterArea">
        <div class="filterField">User Email: @Html.TextBox("UserEmail")</div>
        <input type="submit" value="Filter" />
    </div>
}

@if (Model.ToArray().Length > 0)
{
    IEnumerable<IGrouping<int, WebApplication1.Models.OrdersViewModel>> grouped = null;
    grouped = Model.GroupBy(p => p.OrderId);

    if (grouped != null)
    {
        foreach (var group in grouped)
        {
            <h3>Order Id: @group.Key</h3>
            <hr />

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }

            </table>
        }
    }

}

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>